/* You can add global styles to this file, and also import other style files */
.fullscreen {
	width: 99vw;
	height: 99vh;
}

.center-it {
	display: flex;
	justify-content: center;
	align-items: center;
}
